<html>
  <head>
    <meta charset='utf-8' />
    <title>Исполнено</title>
  </head>
  <body style='background: transparent;'>
    <div
      style='border: 1px solid black; width: fit-content; padding: 5px; height:fit-content; text-align:center;'
    >
      <div style='text-align: center; font-size:22px;'>ИСПОЛНЕНО</div>
      <div style='text-align: center; font-size:22px;'>{{contractNumber}}</div>
    </div>
  </body>
</html>