<div
  style='margin-left: 90px; font-family:"Times New Roman", Times, serif; color: #333; margin-bottom: 20px;'
>
  <div style='font-size: 10px;'>Исп.:
    {{worker_name}},
    тел.:
    {{worker_phone}},
    email:
    {{worker_email}}</div>
</div>